        <div class="row">
         
          <div class="col-sm-12">
           <% @articles.each do |art| %>
           	  <%= image_tag art.image.url(:large), :class => "img-responsive" if art.image? %>  	
              <%= art.content.html_safe %>
           <% end %>

          </div>
        
        </div>
