        <div class="row">
         
          <div class="col-sm-12">
           <% @articles.each do |art| %>
           	  	
              <p><%= art.content.html_safe %></p>
           <% end %>

          </div>
        
        </div>
