
<div class="container">
  <div class="row">

    <h3>
      <%= @article.title%>
    </h3>

    <p>
      <strong><%= @article.summary %></strong>
    </p>

    <p>
      <%= @article.content.html_safe %>
    </p>
  </div>
</div>