        <div class="row">
         
          <div class="col-sm-12">
 
           

<p>I samarbeid med partene i arbeidslivet utgir Byggenæringens Forlag læremidler innenfor
grunnopplæring i arbeidsmiljø og dokumentert sikkerhetsopplæring. Læremidlene kjøpes fra vår
nettbutikk. På denne siden finner du instruktørmateriell.</p>

<p>Er du instruktør og bruker av våre læremidler innenfor grunnopplæring i arbeidsmiljø eller
dokumentert sikkerhetsopplæring kan du gå inn her å laste ned oppdatert instruktørmateriell.
Send oss en e-post så sender vi deg brukernavn og passord.</p>

<h3>Illustrasjonsarkiv</h3>
<p>Alle illustrasjonene er todelt og viser risikosituasjoner med "riktig/gal" tilnærming.
Her kan du laste ned illustrasjoner som du kan bruke i din egen presentasjon. Det er fritt å laste ned og
bruke illustrasjonene til bedriftsinternundervisning. Hvis du ønsker trykksaker eller høyoppløselige
filer kan disse kjøpes fra Byggenæringens Forlag.</p>

<p>Spørsmål og kommentarer kan sendes til: tom.ekeli@bnf.as</p>


          </div>
        
        </div>
