        <div class="row">
          <% @illustrasjoner.each do |art| %>
          <div class="col-sm-4 col-md-3">
            <div class="illustrasjon-item">
              <%=  link_to illustrasjonsarkiv_path(art) do  %>
                <%= image_tag art.image_url(:medium), :class => 'img-responsive img-border img-radius' if art.image?%>
                <div class="mask">
                  <%= art.imagetext %>
                  <span class="pull-right"><i class="zmdi zmdi-collection-image-o"></i></span>
                </div>
              <% end %>
            </div>   
          </div>
          <% end %>
        </div>
