
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="row">
          <% @illustrasjon.assets.each do |ill| %>
            <div class="col-sm-6 col-md-3">
              <%= image_tag ill.image.url(:thumb), :class => "img-responsive" if ill.image? %>  
            </div>

          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          <%= @illustrasjon.title%>
        </h3>
        <%= @illustrasjon.content.html_safe %>
        <div>
          <p>
            <% link_to @illustrasjon.document.url do %>
              <div class="btn btn-md btn-primary">Last ned alle bildene (.zip)</div>
            <% end %>
          </p>
        </div>
      </div>
  </div>
</div>