
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="row">
          <% @illustrasjon.assets.each do |ill| %>
            <div class="col-xs-6 col-md-3">
              <% link_to ill.image.url(:large), :dataLightbox => "hms" do %>
                <%= image_tag ill.image.url(:medium), :class => "img-responsive img-illustrasjon" if ill.image? %>  
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          <%= @illustrasjon.title%>
        </h3>
        <%= @illustrasjon.content.html_safe %>
        <p>
            <i class="zmdi zmdi-attachment-alt"></i> <%= link_to "Last ned bildene (.zip)", @illustrasjon.document.url, :target => 'blank' if @illustrasjon.document? %> 
        </p>
      </div>
  </div>
</div>

