
<%#= link_to 'All Posts', posts_path %>

<div class="row clearfix">

	<% if @posts.present? %>

	<% @posts.each do |post| %>
	<div class="col-lg-3" >
		<div class="card mb-4 box-shadow">
		    <%=  link_to post_path(post) do  %>
				<%= image_tag post.image.url(:medium) if post.image? %>  
			<% end %>          
			<div class="card-body">
			  <p class="card-text"><%= post.title %></p>
			  <div class="d-flex justify-content-between align-items-center">
			    <div class="btn-group">

				<% if Setting.tag_visible? %>
					<div>
						<% post.tags.each do |tag| %>
							<%= link_to tag.name, posts_path(tag: tag.name), :class => 'btn btn-xs btn-tag' %>
						<% end %>
					</div>
				<% end %>
			    </div>
			    <small class="text-muted"></small>
			  </div>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>


