<div id="cookies-bar" class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="left-part">
      <p>
        Vi benytter informasjonskapsler (cookies) for å gi deg en best mulig brukeropplevelse. Ved å lukke denne meldingen, samtykker du i vårt bruk av informasjonskapsler. <br>Se våre <a href="/personvern" title="Personvern">Personvernsider</a> for mer info om hvordan vi håndterer persondataene som samles inn på denne siden.
      </p>
    </div>
 
    <div class="right-part">
      <%= link_to 'Jeg aksepterer cookies', request.original_url, class: 'btn btn-md btn-color', id: 'accept-cookies' %>
    </div>
  </div>
</div>