<footer>    
    <div class="container">
        <div class="footer-widget clearfix">
            <div class="row">
                <div class="footer-center">
                    <p>Byggen&aelig;ringens bes&oslash;ksadresse: Fridjof Nansens Vei 19, 0369 OSLO | post@bnf.as | 400 06 790</p>
                    <p>Postadresse: Postbox 5284 - Majorstuen, 0303 OSLO</p>
                    <p>Opphavsrett Byggenæringens forlag © 201  8</p>
                </div>
            </div>
           <div class="row">
                <p>&nbsp;</p>
                <div class="footer-center">
                    <a href="http://bnf.as"><%= image_tag('bnf-logo.png')%></a>
                </div>
            </div>
        </div><!-- /.footer-widget -->  

    </div><!-- /.container -->
</footer>