    <footer class="footer-dark">
      <div class="container">
        <div class="row">
          <!-- Kontakt -->
          <div class="col-sm-4">
            <h3 class="text-color"><span class="border-color">Kontakt</span></h3>
            <div class="content">
              <p>
              Byggenæringens besøksadresse:<br />
              Fridjof Nansens Vei 19,<br />
              0369 OSLO <br />
              Telefon : +47 400 06 790<br />
              Epost: <a href="#">post@bnf.as</a>
              </p>
            </div>
          </div>
          <!-- Linker -->
          <div class="col-sm-4">
            <h3 class="text-color"><span>Våre områder</span></h3>
            <div class="content">
             
              <ul class="list">
                  <li><a href="http://bnf.rm.no/login.aspx?ReturnUrl=%2f">Nettbokhandel</a></li>
                <li><a href="/bokasnettressurs">Bokas nettressurs</a></li>
                <li><a href="/digitalpedagogikk">Digital pedagogikk</a></li>
                <li><a href="/hms">Helse, miljø og sikkerhet</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Ett eller annet -->
          <div class="col-sm-4">
            <h3 class="text-color"><span>Sosiale medier</span></h3>
            <div class="content social">
              <ul class="list-inline">
                <li><a href="https://www.facebook.com/bnf.as/" class="facebook"><i class="zmdi zmdi-facebook"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <!-- Copyrights -->
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; Byggenæringens forlag.</p>
            <ul>
              <li><a href="/personvern">Personvern</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>