    <div class="navbar navbar-white navbar-static-top" role="navigation">
      <div class="container">

        <!-- Navbar Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag('bnf-logo.png', :style => "width:227px") %></a>
        </div> <!-- / Navbar Header -->

        <!-- Navbar Links -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/" class="bg-hover-color">Hjem</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle bg-hover-color" data-toggle="dropdown">Om Byggenæringens forlag<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @about.omoss.each do |art| %>
                <li>
                  <%= link_to article_path(art), :class => 'bg-hover-color' do %>
                    <%= art.title %>
                  <% end %>
                </li>       
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle bg-hover-color" data-toggle="dropdown">HMS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!--<li><a href="#" class="bg-hover-color">Sikker bruk av arbeidsutstyr</a></li>-->
                <li><a href="/illustrasjonsarkiv" class="bg-hover-color">Illustrasjonsarkiv</a></li>
                <!--<li><a href="#" class="bg-hover-color">Grunnopplæring</a></li>-->
              </ul>
            </li>
 
            <li>  
                <span class="btn btn-md btn-color" style="margin:20px 0 0 20px;"><a href="http://bnf.rm.no/login.aspx?ReturnUrl=%2f" target="_blank" class="netthandel" style="color:#FFFFFF;text-decoration:none;">Nettbokhandel</a></span>
            </li>
          </ul>

        </div> <!-- / Navbar Links -->
      </div> <!-- / container -->
    </div> <!-- / navbar -->
