    <div id="navbar" class="navbar navbar-default navbar-static-top hidden-print">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="zmdi zmdi-menu"></i>
                </button>
                <a class="navbar-brand" href=".">BOKAS<strong>NETTRESSURS</strong></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-sm"><a href=".">Hjem</a></li>
                    <li><a href=".">Log inn</a></li>
                    <li><a href=".">Om </a></li>
                    <li><a href=".">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div> 