

<form action="/posts/search" class="form" role="form" method="get" accept-charset="UTF-8">
	<div class="input-group">
		<input name="utf8" type="hidden" value="✓">
	  	<input type="text" name="search" id="search" value="" class="form-control" placeholder="Søk etter ressurser...">
	  	<span class="input-group-btn">
	    	<button class="btn btn-color" type="submit" name="commit">Søk</button>
	  	</span>
	</div>
</form>


